.last{
    /* width: 60em !important; */

    margin: auto !important ;
    
}
h1{
    text-align: center;
    margin: 2em 0em;

}
.above{
    word-wrap: break-word;
    font-size: x-large;
    text-align: center;
}
.row{
    justify-content: space-between !important;}

.card{
    margin-bottom: 3em;
}
.more{
    display: none;
}
.display{
display: block;
}
footer{
    justify-content: space-between !important;
    justify-items: center !important;
    margin-top: 3em !important;
    
}
footer a{
    margin-left: 15% !important;
}


@media screen and (max-width:800px){
    .last{
        width: 50% !important;
    }
    .card{
        margin: auto;
        padding: auto;
        width: 70%!important;
        
    }
    .row{
        justify-content: space-around;
    }
    .above{
        font-size: medium;
        width: 90% !important;
    }
}
@media screen and (min-width:"800px") {
    .last{
        width: 30% !important;
    }
}